# Algebra Grades Homework I

In [1]:
path_to_zip_file = "datasets-1.zip"
directory_to_extract_to = ""

import zipfile
zip_ref = zipfile.ZipFile(path_to_zip_file, 'r')
zip_ref.extractall(directory_to_extract_to)
zip_ref.close()

In [2]:
# Using the following information about his class, calculate the following:
# a) %age of students with a passing grade
# b) %age of women with a passing grade
# c) Average hours of study for all students
# d) Average hours of study for students with a passing grade

In [5]:
import pandas as pd
Location = r"datasets/algebradata.csv"
df = pd.read_csv(Location, header=None)

In [11]:
df.columns = ['First Name','Last Name','Sex','Grade','Hours studied']
df.drop(0)

    First Name  Last Name Sex Grade Hours studied
1         Mary   Ettienne   F     B            16
2      Charles     Looner   M     F             8
3        Betty   Franklin   F     A            24
4        Roger    Withers   M     C             5
5         John    Mulgrew   M     A             5
6         Jada   Isaacson   F     C            30
7         John     Carter   M     C            17
8       August     Carter   F     C            11
9        Karen     Looner   F     A            12
10         Sam   Walters    M     D            24
11        Mary       Kane   F     C            23
12       Paula    Mulgrew   F     D            17
13    Samantha  Henderson   F     B            22
14        Adam     Vaughn   M     B             7
15       Peter      Sears   M     C            18
16      Denise       Rose   F     A            19
17      Oliver    Gerardo   M     B            20
18       Peter       Kane   M     A            26
19        Jada    Jackson   F     B             5
20       Aaron   Walters    M     D            27
21        Brad   Michaels   M     D            13
22     Ronelle      Adams   F     C            21
23      Oliver    Withers   M     B             3
24       Larry  Samuelson   M     A             1
25         Sam   Walters    M     A             9
26       David       Sapp   M     A            19
27      Jackie    Johnson   F     C             1
28       Karen    Gerardo   F     C            28
29      Oliver  Henderson   M     C            19
30      Jackie   Walters    F     B            30
..         ...        ...  ..   ...           ...
970      Larry  Patterson   M     A             0
971       Jada  Henderson   F     D            29
972   Francine      Adams   F     A            30
973       Mike     Monroe   M     D            14
974       Mary     Monroe   F     F             4
975     Denise      Moore   F     D             0
976    Charles       Kane   M     C            21
977      Carla    Jackson   F     D            10
978     Victor     Looner   M     B            23
979     Evelyn     Vaughn   F     C             6
980       Lisa   Ettienne   F     A            27
981      Karen   Walters    F     D            15
982        Sam   Franklin   M     D            15
983     Denise    Martins   F     D             4
984     Martin   Franklin   M     D             8
985      Larry  Samuelson   M     D             6
986      David    Jackson   M     B            20
987      Larry   Franklin   M     D            28
988     Denise   Ettienne   F     B            13
989     Oliver      Adams   M     B             9
990       Lisa     Rogers   F     D            21
991      Karen     Looner   F     A            28
992      Peter     Carter   M     D            25
993   Samantha      Baker   F     A            24
994       Mike       Sapp   M     D            24
995     Harold     Looner   M     D            11
996      Paula      Moore   F     C             6
997     Martin   Franklin   M     C            25
998     Nicole  Henderson   F     A            20
999   Veronica   Harrison   F     D            21

[999 rows x 5 columns]

## Percentage of students with a passing grade

In [81]:
# a) %age of students with a passing grade
#It has been assumed that "D" is the LOWEST passing grade
GradeA = df.loc[df['Grade']=='A'].count()
GradeB = df.loc[df['Grade']=='B'].count()
GradeC = df.loc[df['Grade']=='C'].count()
GradeD = df.loc[df['Grade']=='D'].count()
Passed = GradeA + GradeB + GradeC + GradeD

GradeE = df.loc[df['Grade']=='E'].count()
GradeF = df.loc[df['Grade']=='F'].count()
Failed = GradeE + GradeF

Total = Passed + Failed
PercentPass = Passed / Total
print PercentPass
#A less sophisticated version of what will be done again below.

First Name       0.916917
Last Name        0.916917
Sex              0.916917
Grade            0.916917
Hours studied    0.916917
pass             0.916917
dtype: float64

In [216]:
#A more sophisticated version.
passing = df.ix[(df['Grade']=="A") | (df['Grade']=="B") | (df['Grade']=="C") | (df['Grade']=="D")]
passnum = len(passing) * 100.0
#Without the "100" we find that 916/1000 yields 0. 100.0 exists to allow for a decimal place.
totalnum = len(df)
print "The percentage of people who passed this class with a D or higher is:"
print(passnum / totalnum)

The percentage of people who passed this class with a D or higher is:
91.6

## Percentage of students who are female, with a passing grade.

In [118]:
female = df['Sex'] == "F"

    First Name  Last Name Sex Grade Hours studied   pass
1         Mary   Ettienne   F     B            16  False
3        Betty   Franklin   F     A            24  False
6         Jada   Isaacson   F     C            30  False
8       August     Carter   F     C            11  False
9        Karen     Looner   F     A            12  False
11        Mary       Kane   F     C            23  False
12       Paula    Mulgrew   F     D            17  False
13    Samantha  Henderson   F     B            22  False
16      Denise       Rose   F     A            19  False
19        Jada    Jackson   F     B             5  False
22     Ronelle      Adams   F     C            21  False
27      Jackie    Johnson   F     C             1  False
28       Karen    Gerardo   F     C            28  False
30      Jackie   Walters    F     B            30  False
34    Victoria       Kane   F     D            21  False
36      Nicole       Rose   F     C            15  False
39       Karen  Samuelson   F     B            12  False
42     Ronelle   Davidson   F     D            12  False
43       Onika      Adams   F     C            25  False
44        Mary   Walters    F     A            18  False
45       india      Baker   F     B            22  False
47      Denise    Martins   F     A            20  False
48    Francine   Davidson   F     A            16  False
49      Nicole    Withers   F     B            30  False
50    Francine     Monroe   F     A            19  False
52    Veronica     Monroe   F     A            10  False
54    Francine     Vaughn   F     B             8  False
55       Paula     Looner   F     A            26  False
57       Karen     Turner   F     A            17  False
60     Ronelle    Jackson   F     B            28  False
..         ...        ...  ..   ...           ...    ...
940      Tanya    Jackson   F     D             1  False
945     August   Franklin   F     D             8  False
948      Paula      Moore   F     A            15  False
949   Samantha      Baker   F     D            15  False
950      Paula  Patterson   F     B             5  False
951      india    Jackson   F     C            11  False
952       Jada   Isaacson   F     B            29  False
953      india     Rogers   F     D             1  False
957      Betty     Vaughn   F     A            18  False
959   Veronica      Moore   F     A            28  False
962       Jada      Adams   F     A            16  False
966     Jackie     Looner   F     F             7  False
968      Karen    Martins   F     D             7  False
969   Samantha  Henderson   F     A            17  False
971       Jada  Henderson   F     D            29  False
972   Francine      Adams   F     A            30  False
974       Mary     Monroe   F     F             4  False
975     Denise      Moore   F     D             0  False
977      Carla    Jackson   F     D            10  False
979     Evelyn     Vaughn   F     C             6  False
980       Lisa   Ettienne   F     A            27  False
981      Karen   Walters    F     D            15  False
983     Denise    Martins   F     D             4  False
988     Denise   Ettienne   F     B            13  False
990       Lisa     Rogers   F     D            21  False
991      Karen     Looner   F     A            28  False
993   Samantha      Baker   F     A            24  False
996      Paula      Moore   F     C             6  False
998     Nicole  Henderson   F     A            20  False
999   Veronica   Harrison   F     D            21  False

[518 rows x 6 columns]

In [242]:
femlength = len(df.ix[df['Sex']=="F"])
print femlength

518

In [252]:
passfemale = len(df.ix[((df['Grade']=="A") | (df['Grade']=="B") | (df['Grade']=="C") | (df['Grade']=="D")) & (df['Sex']== "F")])
print "The percentage of women who passed this class with a D or higher is:"
print (passfemale)* 100.0 / femlength
print "Note that we used the total number of females as a total, not the number of students in the dataset."

The percentage of women who passed this class with a D or higher is:
95.3667953668
Note that we used the total number of females as a total, not the number of students in the dataset.

## Average hours of study for all students.

In [306]:
print "The average hours of study for all students is:"
print pd.to_numeric(df['Hours studied'], errors='coerce').mean()

The average hours of study for all students is:
15.1151151151

## Average hours of study for all students who passed Algebra.